.header
  .header-inner
    .header-left
      %p.header-left__title
        Kagawa
    .header-right
      %a.header-right__udon{href:"#"}
        udon
      
      %a.header-right__soba{href:"#"}
        soba

    %p.header-nav
      = icon('fas', 'bars')

.kagawa
  .kagawa-inner 
    .kagawa-box
    .kagawa-box
    .kagawa-box
    .kagawa-box
    .kagawa-box
    .kagawa-box
   



      